<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638642247226-dua7qlihiq28qqnoocrt4qnqngs0soln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638642247226-dua7qlihiq28qqnoocrt4qnqngs0soln</string>
	<key>API_KEY</key>
	<string>AIzaSyCnoeib9No8gzxoNp0wIpDp5mlxSsw_J-4</string>
	<key>GCM_SENDER_ID</key>
	<string>638642247226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>piercefindlay.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>csufchat</string>
	<key>STORAGE_BUCKET</key>
	<string>csufchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638642247226:ios:0fbecbae1e3313aaed4703</string>
	<key>DATABASE_URL</key>
	<string>https://csufchat.firebaseio.com</string>
</dict>
</plist>